

.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.user_box {
    width: 50%;
    border: 1px red solid;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
}

button {
   background: green;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 30%;
}

