

#wrap-user {
    justify-content: center;
    border: 3px red solid;
    text-align: center;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
}

.postBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 10px;
}

.box-post {
    width: 20%;
    box-sizing: border-box;
    background: silver;
    border: 1px red solid;
    text-align: center;
    border-radius: 20px;
    align-items: center;

}

h2 {
    color: red;
}

button {
    width: 90%;
    background: green;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 30%;
}

button:hover {
    background: white;
    color: green;
    transition: 700ms;
}

.buttonWrap {
    margin-top: 30px;
    text-align: center;
}

